<ion-content fullscreen>

  <ion-item>

    <ion-button (click) = "cerrarModal()" fill="clear">
      <ion-icon name ="close"></ion-icon>
    </ion-button>

    <ion-button fill="clear">
      <ion-icon name ="add-circle-outline"></ion-icon>
    </ion-button>

    <ion-button fill="clear">
      <ion-icon name ="remove-circle-outline"></ion-icon>
    </ion-button>

  </ion-item>
  
  <ion-slides [options]="options" #slider>
    <ion-slide *ngFor ="let imagen of imagenes_papa">
      <img  src = "{{imagen}}"/>
    </ion-slide>
  </ion-slides>

</ion-content>
